:root {
    --brand-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --black-bg-color: #2f303a;
    --accent-color: #2196f3;
    --brand-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #ffffff;
    --header-logo-design: #000000;
    --footer-logo-design: #ffffff;
    --hover-focus-social-link-color: #ffffff;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --hero-button-hover-focus-color: #188ce8;
    --border-color: #eeeeee;
    --clients-icons-primary-color: #afb1b8;
    --white-text-color: #ffffff;
    --brand-bg-modal-color: #ffffff;
    --brand-hover-focus-overlay-color: rgba(33, 150, 243, 0.9);
}